<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .no-padding {
            padding: 0 !important;
        }
    </style>
</head>
<body class="container">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


<!--              ШАПКА              -->
<header class="navbar navbar-dark bg-dark p-2 d-flex justify-content-between align-items-center">
    <div>
        <span th:text="${user.getUsername()}" class="text-light fw-bold"></span>
        <span class="text-light"> with roles: </span>
        <span th:each="role : ${roles}" th:text="${role.getAuthority()} + ' '" class="text-light"></span>
    </div>


    <form th:action="@{/logout}" method="post" class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn text-light-emphasis fw-bold">Logout</button>
    </form>
</header>


<!--              НАВБАР СЛЕВА              -->
<div class="container-fluid d-flex p-0 mt-3">
    <nav class="col-2 no-padding">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin/users">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user">User</a>
            </li>
        </ul>
    </nav>


    <!--                  ЦЕНТРАЛЬНЫЙ БЛОК С ЗАКЛАДКАМИ @__@-->
    <div class="col-10 ">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="admin-panel" role="tabpanel">
                <h1 class="mt-3">Admin panel</h1>
                <ul class="nav nav-tabs border-bottom-0">
                    <li class="nav-item">
                        <a href="#users-table" id="show-users-table" class="nav-link active no-refresh"
                           data-bs-toggle="tab" aria-current="true" role="tab">
                            Users Table</a>
                    </li>
                    <li>
                        <a href="#new_user-form" id="show-new-user-form" class="nav-link no-refresh"
                           data-bs-toggle="tab" aria-current="false" role="tab">
                            New User</a>
                    </li>
                </ul>


                <!--              ЗАКЛАДКА USERS TABLE              -->
                <div class="tab-content">
                    <div id="users-table" class="tab-pane fade show active" role="tabpanel">
                        <ul class="list-group">
                            <li class="list-group-item p-3">
                                <h5 class="mb-0 ps-2">All users</h5>
                            </li>
                            <li class="list-group-item">
                                <table class="table table-hover p-3 table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Username</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${users}">
                                        <th scope="row" th:text="${user.getId()}"></th>
                                        <td th:text="${user.getUsername()}"></td>
                                        <td>
                                            <span th:each="role : ${user.getAuthorities()}"
                                                  th:text="${role.getAuthority()} + ' '"></span>
                                        </td>


                                        <!--              КНОПКА EDIT              -->
                                        <td>
                                            <button class="btn btn-info btn-sm text-white"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target=${'#editModal'+ user.getId()}">
                                                Edit
                                            </button>


                                            <!--              МОДАЛКА EDIT              -->
                                            <div class="modal fade" th:id="'editModal' + ${user.getId()}"
                                                 tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                                                 aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body w-60 m-auto text-center mb-3 fw-bold">
                                                            <form th:method="POST"
                                                                  th:action="@{/admin/update}"
                                                                  th:object="${user}">
                                                                <input type="hidden" th:value="${user.id}" name="id"/>
                                                                <div>
                                                                    <label for="id"
                                                                           class="form-label">ID</label>
                                                                    <input type="text" th:value="${user.id}"
                                                                           id="id" th:name="id"
                                                                           class="form-control" placeholder="id"
                                                                           readonly="readonly" disabled/>
                                                                </div>
                                                                <div>
                                                                    <label for="username"
                                                                           class="form-label">Name</label>
                                                                    <input type="text" th:value="${user.username}"
                                                                           class="form-control" id="username"
                                                                           th:name="username"
                                                                           placeholder="Введите имя"><br>
                                                                    <label for="roles">Roles</label>
                                                                    <select id="roles" name="roles"
                                                                            class="form-select" multiple>
                                                                        <option th:each="role : ${roles}"
                                                                                th:value="${role.id}"
                                                                                th:text="${role.role}"
                                                                                th:selected="${user.roles != null && user.roles.contains(role)}"></option>
                                                                    </select>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>
                                                                    <button type="submit"
                                                                            class="btn btn-primary">Edit
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>


                                        <!--              КНОПКА DELETE              -->
                                        <td>
                                            <button class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#deleteModal' + user.getId()}">
                                                Delete
                                            </button>

                                            <!--              МОДАЛКА DELETE              -->
                                            <div class="modal fade" th:id="${'deleteModal' + user.getId()}"
                                                 tabindex="-1" aria-labelledby="delete" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="deleteModalLabel">Delete
                                                                User</h5>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body w-60 m-auto text-center mb-3 fw-bold">
                                                            <form th:method="post" th:action="@{/admin/delete}">
                                                                <input type="hidden" th:value="${user.id}" name="id">

                                                                <label for="idDelete" class="form-label">ID</label>
                                                                <input type="text" th:value="${user.id}"
                                                                       class="form-control" id="idDelete" disabled>
                                                                <br>
                                                                <label for="usernameDelete"
                                                                       class="form-label">Name</label>
                                                                <input type="text" th:value="${user.username}"
                                                                       class="form-control" id="usernameDelete"
                                                                       disabled>
                                                                <br>
                                                                <label for="deleteRoles">Roles</label>
                                                                <select id="deleteRoles" class="form-select" multiple
                                                                        disabled>
                                                                    <option th:each="role : ${user.getAuthorities()}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.getAuthority()}">
                                                                    </option>
                                                                </select>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-bs-dismiss="modal">Close
                                                                    </button>
                                                                    <input type="submit" class="btn btn-danger"
                                                                           value="Delete">
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                            </li>
                        </ul>
                    </div>


                    <!-- NEW USER -->
                    <div class="tab-pane fade" id="new_user-form" role="tabpanel">
                        <div class="card">
                            <div class="container-fluid px-0">
                                <h5 class="card-header">Add new user</h5>
                            </div>
                            <div class="card-body col-5 mx-auto text-center mt-3">
                                <form th:method="POST" th:action="@{/admin/user/new}" th:object="${user}">
                                    <label for="create_username" class="form-label fw-bold mb-0">Name</label>
                                    <input type="text" class="form-control" id="create_username" name="username"
                                           placeholder="Username">
                                    <br>
                                    <label for="create_password" class="form-label fw-bold mb-0">Password</label>
                                    <input type="password" class="form-control" id="create_password" name="password"
                                           placeholder="Password">
                                    <br>
                                    <label for="roles" class="form-label fw-bold mb-0">Roles</label>
                                    <label for="createRoles"></label><select id="createRoles" name="roles"
                                                                             class="form-select" multiple>
                                    <option th:each="role : ${roles}"
                                            th:value="${role.id}"
                                            th:text="${role.role}"
                                            th:selected="${user.roles != null && user.roles.contains(role)}">
                                    </option>
                                </select>
                                    <div>
                                        <button type="submit" class="btn btn-success">Add new user</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="tab-pane fade" id="user-panel" role="tabpanel">
                <h1 class="mt-3">User Information-page</h1>
                <div class="tab-content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <h5 class="mb-0 ps-2">About user</h5>
                        </li>
                        <li class="list-group-item">
                            <table class="table table-hover p-3 table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Username</th>
                                    <th scope="col">Role</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row" th:text="${user.getId()}"></th>
                                    <td th:text="${user.getUsername()}"></td>
                                    <td th:each="role : ${user.roles}" th:text="${role.role}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>